extends layout

block content

  h2 #{title}

  h3 Available Chips: #{data.numInStock} piece(s)
  h3 The Price: #{data.price} $
  hr
  h3 How many chips do you want to get?
  form(method="POST" action="")
    .form-group
      input#boughtNumber.form-control(type="number" min=1 max= data.numInStock name="boughtNumber" placeholder="2" required=true value=boughtNumber)
      input#stockid.form-control(type='hidden',name='stockid',required=true,value=data.numInStock)
    button.btn.btn-primary(type='submit') Buy!  